table,th, td
{
	border: 0px;
}

#layout {
	position:absolute;
	top: 0px;
	left: 0px;
	width: 800px;
}

#layout td {
	width: 50%;
}

.left{
	text-align:left;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}

#game_window {
    height: 600px;
    width: 800px;
}

body {
    font-size:200%;
}